h1= title
h3 edit
form(method="post",action="/paper")
  p
    label Title
    br
    input(type="text", name="paper[title]", value=paper.title)

  p
    label Body
    br
    textarea(name="paper[body]") #{paper.body}
  
  input(type="hidden", name="paper[_id]", value=paper._id)
  
  input(type="submit", value="Submit")
  
  a(href='/papers') Cancel

