// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:

@include blueprint;

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

body{
  background-color: $main-background-color;
  color: $font-color;
}

#hidden{
  visibility:hidden;
}

#top{
  padding-top:20px;
	height: 80px;
}

#logo{
  font: 60px/68px 'ChunkFiveRegular', Arial, sans-serif;
  letter-spacing: 0;
}

#logo1{
  color: $logo_color1;
}

#logo2{
  color: $logo_color2;  
}

#top a{
  text-decoration:none;
  color:none;
}

#subheading{
  color:$Sub_Heading_logo_color;
  font: 20px/28px 'AmaranthRegular', Arial, sans-serif;
  letter-spacing: 0;
}

#menu a{
  color:$menu_text_color;
  margin-top:20px;
  float:right;
  margin-right:50px;
  padding-left:6px;
  padding-right:6px;
  padding-top:6px;
  
  
  font: 16px/22px 'ChunkFiveRegular', Arial, sans-serif;  
}


#main{

}  

@font-face {
    font-family: 'AmaranthRegular';
    src: url('/fonts/amaranth/Amaranth-webfont.eot');
    src: url('/fonts/amaranth/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amaranth/Amaranth-webfont.woff') format('woff'),
         url('/fonts/amaranth/Amaranth-webfont.ttf') format('truetype'),
         url('/fonts/amaranth/Amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('/fonts/ChunkFive/Chunkfive-webfont.eot');
    src: url('/fonts/ChunkFive/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ChunkFive/Chunkfive-webfont.woff') format('woff'),
         url('/fonts/ChunkFive/Chunkfive-webfont.ttf') format('truetype'),
         url('/fonts/ChunkFive/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


