// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:

@include blueprint;

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

body{
  background-color: $main-background-color;
  color: $font-color;
}

#top{
  padding-top:20px;
	height: 110px;
}

#logo{
  color:$logo-color;
  font: 60px/68px 'AmaranthRegular', Arial, sans-serif;
  letter-spacing: 0;
}

#logoArea a{
  text-decoration:none;
  color:none;
}

#subheading{
  color:$logo-color;
  font: 20px/28px 'AmaranthRegular', Arial, sans-serif;
  letter-spacing: 0;
}


@font-face {
    font-family: 'AmaranthRegular';
    src: url('/fonts/amaranth/Amaranth-webfont.eot');
    src: url('/fonts/amaranth/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amaranth/Amaranth-webfont.woff') format('woff'),
         url('/fonts/amaranth/Amaranth-webfont.ttf') format('truetype'),
         url('/fonts/amaranth/Amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


