h1 Request Reference 

form(method="post",action="/reference/request/new")
  div.span-24
    label Referee Email
    br
    input(type="text", name="referee_email")
  div.span-24
    label Position
    br
    input(type="text", name="reference[position]")
  div.span-24
    label Personal Message
    br
    textarea(name="email_body")
  div.span-24
    div.span-5
      Label Start Date
      br
      input(type="date", name="reference[end_date]")
    div.span-5.last
      Label End Date
      br
      input(type="date", name="reference[start_date]")
    input(type="text", name="reference[candidate_id]", value=session.user._id)#hidden

  div.span-24
    button.button.standard(type="submit")
      | Submit
