h1 Login

form(method="post",action="/login")
  div.span-24
    label Email
    br
    input(type="text", name="user[email]")
  div.span-24
    label password
    br
    input(name="user[password]", type='password')
  input(name="redir", type="hidden", value=redir)
  input(type="submit", value="Submit")
 
