h1 New User

form(method="post",action="/user")
  div.span-24
    label Email
    br
    input(type="text", name="user[email]")
  div.span-24
    label password
    br
    input(name="user[password]", type='password')
  input(type="submit", value="Submit")
 
