!!! 5
html
  head
    title= title
    link(rel='stylesheet',  href='/stylesheets/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/print.css', media='print', rel='stylesheet', type='text/css')
    // [if IE] ><link href='/stylesheets/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />  <![endif]   
    link(rel='stylesheet', href='/stylesheets/buttons.css', media='screen, projection', rel='stylesheet', type='text/css')
    body.container
      div#main
        != body
