!!! 5
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=7')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title= title
    style(type='text/css', media='all')
      @import url("adminus/css/style.css");
      @import url("adminus/css/jquery.wysiwyg.css");
      @import url("adminus/css/facebox.css");
      @import url("adminus/css/visualize.css");
      @import url("adminus/css/date_input.css");
    // [if IE] ><link href='adminus/css/ie.css' media='all' rel='stylesheet' type='text/css' />  <![endif] 
  body
  #hld
    .wrapper
      // wrapper begins 
      #header
        .hdrl
        .hdrr
        h1
          a(href='#') Adminus
        ul#nav
          li
            a(href='#') References
          li.active
            a(href='#') Request
        p.user
          | Hello,
          a(href='#') John
          | |
          a(href='index.html') Logout
      // #header ends
      != body 

